:root {

}

body {
  background-color: #DBAFAF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
}

nav {
  display: flexbox;
  background-color: #CC7373;
}

button {
  background-color: #B18383;
  color: #ffff;
}

footer {
  background: #AB6969;
}